= simple_form_for ([:admin, @page]) do |f|
  .row
    .large-12.columns
      = f.error_notification
  .row
    .large-3.columns
      &nbsp;
    .large-6.columns
      .field
        = f.input :title, :input_html => { :class => 'large'}
      .field
        = f.input :description, :as => :hidden
      .input
        .row
          .large-2.columns
            .field
              = f.label :published
              = f.check_box :published
          .large-2.columns
            .field
              = f.label :in_menu, :label => "Menu?"
              = f.check_box :in_menu
          .large-2.columns
            .field
              = f.label :in_footer, :label => "Footer Menu?"
              = f.check_box :in_footer
          .large-4.columns
            &nbsp;
    .large-3.columns
      &nbsp;

  .row
    .large-4.columns
      %h3 column 1
      = f.simple_fields_for :contents do |c|
        - if c.object.col == 1
          = render partial: "content", locals: { f: f, p: @page, c: c }
    .large-4.columns
      %h3 column 2
      = f.simple_fields_for :contents do |c|
        - if c.object.col == 2
          = render partial: "content", locals: { f: f, p: @page, c: c }
    .large-4.columns
      %h3 column 3
      = f.simple_fields_for :contents do |c|
        - if c.object.col == 3
          = render partial: "content", locals: { f: f, p: @page, c: c }


  .row
    .large-12.columns
      .form-actions
        = f.button :submit, :class=>"button large"


    .large-3.columns
      &nbsp;

