%p#notice= notice

%p
  %b Title:
  = @page.title
%p
  %b Description:
  = @page.description
%p
  %b Published:
  = @page.published
%p
  %b In menu:
  = @page.in_menu

= link_to 'Edit', edit_admin_page_path(@page)
\|
= link_to 'Back', admin_pages_path
