- content_for :title, @location.title

.row
  .large-7.columns{:role => "content"}
    %h1 Location
  .large-5.columns.right
    = link_to admin_locations_path, :class => 'button' do
      %i.fi-list-thumbnails
      Index
    = link_to new_admin_location_path, :class => 'button' do
      %i.fi-plus
      Location anlegen
    = link_to edit_admin_location_path(@location), :class => 'button' do
      %i.fi-pencil
      Bearbeiten
.row
  .large-6.columns{:role => "content"}
    .panel
      %h2
        %strong=@location.title
      %p
        #{@location.address}, #{@location.zipcode} #{@location.city}
      %p
        - if @location.web.present?
          %i.fi-web
          = link_to @location.web do
            = @location.web

        - if @location.email.present?
          \|
          %i.fi-mail
          = link_to @location.email do
            = @location.email
        - if @location.twitter.present?
          \|
          %i.fi-social-twitter
          = link_to @location.twitter_link do
            = @location.twitter
      - if @location.shortext.present?
        %p
          %i.fi-info.fi-21
          = @location.shortext