<h2>Resend unlock instructions</h2>

<div class="row">
  <div class="column large-4 text-left">
    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "Resend unlock instructions", :class=>"button" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="column large-4 text-left">
    &nbsp;
  </div>
</div>