.row
  .large-12.columns
    = simple_form_for([:admin,@program]) do |f|
      = f.error_notification
      .row.form-inputs
        .large-8.columns
          .row
            .large-12.columns
              = f.input :title, :input_html => { :class => 'large'}
          .row
            .large-6.columns
              = f.input :description
              .row
                .large-6.columns
                  = f.input :current
                .large-6.columns
                  = f.input :published
            .large-6.columns
              = f.input :backgroundcolor, as: :minicolors
              = f.input :textcolor1, as: :minicolors
              = f.input :textcolor2, as: :minicolors
          .row
            .large-12.columns
              %hr
          .row
            .large-6.columns
              = f.input :image, as: :file
              - if @program.image.present?
                = image_tag @program.image.medium_thumb.url
                %br
                = f.check_box :remove_image
                Bild löschen
            .large-6.columns
              = f.input :backgroundimage, as: :file
              - if @program.backgroundimage.present?
                = image_tag @program.backgroundimage.medium_thumb.url
                %br
                = f.check_box :remove_backgroundimage
                Bild löschen
        .large-4.columns#preview
          %h3 Colors preview:
          .panel
            %h1
              %strong zakk
              klubraum
          .panel
            %p 06.01.2017, 22:00
            %h3 Ungesundes Mittelmaß
            %p punks'n'pandas, queers'n'beers, nerds'n'birds.
      .form-actions
        = f.button :submit, {:class=>"button large"}
