- content_for :head do
  = render partial: '/partials/custom_styles', locals: {program: @program}


.row
  .large-7.columns
    %h1
      = @program.title
      - if @program.current
        %span.label
          CURRENT
    %h3= @program.description
  .large-5.columns.right
    = link_to admin_programs_path, :class => 'button' do
      %i.fi-list-thumbnails
      Index
    = link_to new_admin_program_path, :class => 'button' do
      %i.fi-plus
      Program anlegen
    = link_to edit_admin_program_path(@program), :class => 'button' do
      %i.fi-pencil
      Bearbeiten
.row
  .large-2.columns
    &nbsp;
  .large-6.columns{:role => "content"}
    %h3.panel
      das zakk
      %strong Programm
    %ol
      - @program.posts.with_ptype('0').order(:startdate).each do |post|
        %li
          = render partial: '/posts/show_mini', locals: {post: post}
      %li
        = link_to new_admin_post_path(:ptype => '0',:program => @program.id), :class => 'button tiny' do
          %i.fi-plus
          Post anlegen
    %h3.panel
      Und
      %strong sonst
      ?
    %ol
      - @program.posts.with_ptype('2').order(:startdate).each do |post|
        %li
          = render partial: '/posts/show_mini', locals: {post: post}
      %li
        = link_to new_admin_post_path(:ptype => '2',:program => @program.id), :class => 'button tiny' do
          %i.fi-plus
          Post anlegen

    .row
      .large-12.columns.text-center
        %hr
        - if !@program.current
          %button{:class=>"button disabled", :disabled => "disabled"} Make this the current program (TODO)
        - else
          %i.fi-check.fi-32
          %br
          This is the current program
        %br
        - if !@program.published
          %button{:class=>"button disabled", :disabled => "disabled"} Make this program public (TODO)
        - else
          %i.fi-check.fi-32
          %br
          This program is published
    .row
      .large-12.columns
        %hr
    .row
      .large-4.columns
        = link_to program_path(:id => @program.id, :format => 'json'), :class => 'button' do
          Render this page as JSON (Serialized)
      .large-4.columns
        = link_to program_path(:id => @program.id, :format => 'xml'), :class => 'button' do
          Export to XML (InDesign)
      .large-4.columns
        = link_to sendmail_admin_program_path(:id => @program.id, :user => current_user), :class=>"button" do
          Send program via E-Mail
  .large-4.columns
    &nbsp;