- content_for :title, @program.title
- content_for :head do
  = render partial: '/partials/custom_styles', locals: {program: @program}

- if ( can? :create, Event )
  .row
    .large-9.columns
      &nbsp;
    .large-3.columns.right
      = link_to admin_programs_path, :class => 'button tiny' do
        %i.fi-list-thumbnails
        Index
      = link_to new_admin_program_path, :class => 'button tiny' do
        %i.fi-plus
        Program anlegen
      = link_to edit_admin_program_path(@program), :class => 'button tiny' do
        %i.fi-pencil
        Bearbeiten
.row
  .large-2.columns
    &nbsp;
  .large-6.columns{:role => "content"}
    %h1
      = @program.title
    %h3.panel
      das zakk
      %strong Programm
    %ol
      - @program.events.with_ptype('0').order(:startdate).each do |event|
        %li
          = render partial: '/events/show_mini', locals: {event: event, public: true}
    %h3.panel
      Und
      %strong sonst
      ?
    %ol
      - @program.events.with_ptype('2').order(:startdate).each do |event|
        %li
          = render partial: '/events/show_mini', locals: {event: event, public: true}

    - if ( can? :create, Event )
      %hr
        .row
          .large-12.columns
            = link_to admin_program_path(@program.id), :class => 'button' do
              Switch to admin view of this program
  .large-4.columns
    &nbsp;