- if program
  - if program.backgroundimage && program.backgroundimage.cover.present?
    - thumb = "#{escape_once(sanitize program.backgroundimage.cover.url)}"
  - else
    - thumb = "#{escape_once(sanitize image_url('zakk_pattern1.png', :class => "medium_thumb"))}"
  :css
    body, main { background-color: #{escape_once(sanitize program.backgroundcolor)}}
      main { background-image: url(#{escape_once(thumb)}); background-size: #{escape_once(program.backgroundimage_display)} }
    .panel h1,
    .panel h2,
    .panel h3,
    .panel h4 { color: #{escape_once(sanitize program.textcolor2)}}
    strong { color: #{escape_once(sanitize program.textcolor1)}}