#flyer_wall
  - flyers = Flyer.all
  - for i in 0..9
    %div.flyer
      - rnd = ( Random.rand(90) ) - 45
      - if flyers[i] && flyers[i].image.url
        - f = flyers[i]
        = link_to f.image.url do
          #{image_tag("#{f.image.medium_thumb.url}", :class => "medium_thumb placeholder_thumb", :title => "Aus dem Archiv: #{f.title}",:with => '', :height => '', :style=>"transform: rotate(#{rnd}deg)")}
      - else
        #{image_tag('zakk_pattern3.png', :class => "medium_thumb placeholder_thumb", :with => '', :height => '', :style=>"transform: rotate(#{rnd}deg)")}
