.row
  .columns.large-12.show-for-large
    &nbsp;
.row#main_header
  .columns.large-12

    .row
      .columns.large-7
        .panel{:role => 'header'}
          %h1
            = link_to root_url do
              %strong zakk
              klubraum
            - if @page
              - if can? :edit, Page
                %small
                  = link_to edit_admin_page_path(@page), :class=>"tiny" do
                    #{@page.title}&nbsp;<i class='fi-pencil'></i>
              - else
                #{@page.title}

      .columns.large-1.show-for-large
        &nbsp;
      .columns.large-4
        = render partial: "/partials/nav"
