%div{:class=>"post-switch", :id=>"post_switch_#{p.id}"}
  = link_to edit_admin_post_path(p), :class=>"button post-edit", :title => "Bearbeiten" do
    %i.fi-pencil
  %span.hide.post-switch-message
    &nbsp;
  - if p.status == 'Published'
    - klass_published = 'post-status-published post-status-anchor-active'
    - klass_draft = 'post-status-draft post-status-anchor'
  - else
    - klass_published = 'post-status-published post-status-anchor'
    - klass_draft = 'post-status-draft post-status-anchor-active'

  = link_to set_status_admin_post_path(p), :id=>"post_status_to_draft_#{p.id}", :class=>"button #{klass_published}", :title => "Eintrag verstecken (Draft)", remote: true do
    %i.fi-prohibited
    %span.post-status-text
      %br
      Draft!
  = link_to set_status_admin_post_path(p), :id=>"post_status_to_publish_#{p.id}", :class=>"button #{klass_draft}", :title => "Eintrag veröffentlichen", remote: true do
    %i.fi-eye
    %span.post-status-text
      %br
      Publish!
