%div{:class=>"post-switch", :id=>"post_switch_#{p.id}"}
  = link_to edit_post_path(p), :class=>"tiny post-edit", :title => "Bearbeiten" do
    %i.fi-pencil
  %span.hide.post-switch-message
    &nbsp;
  - if p.status == 'Published'
    - klass_published = 'post-status-published post-status-anchor-active'
    - klass_draft = 'post-status-draft post-status-anchor'
  - else
    - klass_published = 'post-status-published post-status-anchor'
    - klass_draft = 'post-status-draft post-status-anchor-active'

  = link_to set_status_post_path(p), :class=>"tiny button #{klass_published}", :title => "Eintrag auf Draft schalten", remote: true do
    %i.fi-prohibited.fi-21
    %span.post-status-text
      %br
      Draft!
  = link_to set_status_post_path(p), :class=>"tiny button #{klass_draft}", :title => "Eintrag veröffentlichen", remote: true do
    %i.fi-eye.fi-21
    %span.post-status-text
      %br
      Veröffentlichen!
