<h1><%= @program.title %></h1>
<div><%= @program.description %></div>
<p><%=link_to "Programm im Web anzeigen/bearbeiten", admin_program_url(@program) %></p>
<hr />
<h3>das zakk <strong>programm</strong></h3>
<ul>
<% @program.events.with_ptype('0').order(:startdate).each do |event| %>
  <li>
    <p>
      <% if event.startdate %>
        <%= smart_date_display(event.startdate,event.enddate) %>
      <% end %>
      <% if event.location %>
        |
        <%= event.location.title %>
      <% end %>
    </p>
    <h4>
      <%= link_to "#{event.title}", event  %>
    </h4>
    <% if event.shortext.present? %>
        <div>
          <%= event.shortext  %>
        </div>
    <% end %>
    <% if event.longtext.present? %>
        <div>
          <%= event.longtext  %>
        </div>
    <% end %>
  </li>
<% end %>
</ol>
<hr />
<h3>und <strong>sonst</strong>?</h3>
<ul>
<% @program.events.with_ptype('2').order(:startdate).each do |event|  %>
  <li>
    <p>
      <% if event.startdate %>
        <%= smart_date_display(event.startdate,event.enddate) %>
      <% end %>
      <% if event.location %>
        \|
        <%= event.location.title %>
      <% end %>
    </p>
    <h4>
      <%= link_to "#{event.title}", event %>
    </h4>
    <% if event.shortext.present? %>
        <div>
          <%= event.shortext %>
        </div>
    <% end %>
    <% if event.longtext.present? %>
        <div>
          <%= event.longtext  %>
        </div>
    <% end %>
  </li>
<% end %>
</ul>
<hr />
<p><%=link_to "Programm im Web anzeigen/bearbeiten", admin_program_url(@program) %></p>
<hr />
ZakkAdmin