- klass = "panel post post_mini"
- if p.status == 'Published'
  - klass += " post_published"
- else
  - klass += " post_draft"


- if p.image && p.image.url
  %div{:class=>"#{klass}"}
    %img{:src=>"#{p.image.thumb.url}"}

%div{:class=>"#{klass}"}
  - if p.startdate
    %p
      %small
        = smart_date_display(p.startdate,p.enddate)
        - if p.ptype == "Und sonst?"
          \|
          - if p.location
            = link_to p.location do
              = p.location.title
          - elsif p.locationtext.present?
            = p.locationtext
          - else
            ?
  %h4
    = link_to "#{p.title}", p
    - if can? :create, Post
      = link_to edit_post_path(p), :class=>"tiny" do
        %i.fi-pencil
      - if !p.status
        = link_to edit_post_path(p), :class=>"button tiny" do
          %i.fi-eye

  - if p.shortext.present?
    %p= p.shortext
  - else
    %div= p.longtext.html_safe
