- klass = "panel post post_mini"
- if p.status == 'Published'
  - klass += " post_published"
- else
  - klass += " post_draft"


%div{:class=>"#{klass}",:id=>"post_#{p.id}"}

  - if p.image && p.image.url
    %div{:class=>"image"}
      %img{:src=>"#{p.image.thumb.url}"}
  - if p.startdate
    %p
      %small
        = smart_date_display(p.startdate,p.enddate)
        - if p.ptype == "Und sonst?"
          \|
          - if p.location
            = link_to p.location do
              = p.location.title
          - elsif p.locationtext.present?
            = p.locationtext
          - else
            ?
  %h4
    - if p.longtext.present?
      = link_to "#{p.title}", p
    - else
      = p.title
    - if can? :create, Post
      = render partial: "/partials/post_publish", locals: { p: p }


  - if p.shortext.present?
    %p= p.shortext
  - else
    %div= p.longtext.html_safe
