- if ( can? :create, Post ) && ( can? :create, Location )
  .row.hide
    .columns.large-2
      %p
        = link_to "Programs", admin_programs_url, :class=>"button"
        %br
        #{Program.all.count} Programs
    .columns.large-2
      %p
        = link_to "Posts", posts_url, :class=>"button"
        %br
        #{Post.all.count} Posts
    .columns.large-2
      %p
        = link_to "Locations", locations_url, :class=>"button"
        %br
        #{Location.all.count} Locations
    .columns.large-6
      &nbsp;
.row
  .columns.large-12
    &nbsp;
.row#main_header
  .columns.large-12

    .row
      .columns.large-6
        .panel
          %h1
            %strong zakk
            klubraum
      .columns.large-1
        &nbsp;
      .columns.large-5
        %p.text-right
          TODO:
          %span.ptext
            = link_to "Info"
          %span.ptext
            = link_to "Kontakt"

    .row
      .columns.large-4
        .panel
          %h3
            Monats
            %strong Programm
      .columns.large-4
        .panel
          %h3
            Neues im
            %strong zakk

      .columns.large-4
        .panel
          %h3
            Und
            %strong sonst
            ?

#main_content

  .row
    .columns.large-4
      - @posts_programm.each do  |p|
        - if ( p.status == 'Published' ) || ( can? :manage, Post )
          = render partial: "post", locals: { p: p }

      %p.panel
        sorted by startdate, only future dates (and today)
      - if @current_program.present? && @current_program.image.url
        %div{:class=>"panel"}
          %img{:src=>"#{@current_program.image.thumb.url}"}

    .columns.large-4
      - @posts_neues.each do  |p|
        - if ( p.status == 'Published' ) || ( can? :manage, Post )
          = render partial: "post", locals: { p: p }
      %p.panel
        sorted by startdate, all posts

    .columns.large-4
      - @posts_undsonst.each do  |p|
        - if ( p.status == 'Published' ) || ( can? :manage, Post )
          = render partial: "post", locals: { p: p }
      %p.panel
        sorted by startdate, only future dates (and today)
  .row
    .columns.large-4
      %p.text-right
        %strong.ptext zakk
        %span.ptext klubraum
    .columns.large-4
      &nbsp;
    .columns.large-4
      %p.text-right
        TODO:
        %span.ptext
          = link_to "Info"
        %span.ptext
          = link_to "Kontakt"

  .row
    .columns.large-12
      &nbsp;