= render partial: "/partials/header"



.row
  .large-12.columns
    %h3
      - # = @page.title

.row
  .large-4.columns
    - @col1_content.each do |c|
      %div.panel
        %h3
          = c.title
          - if can? :edit, Content
            = link_to edit_admin_content_path(c), :class=>"tiny" do
              %i.fi-pencil
      %div.panel
        %div= c.text.html_safe


  .large-4.columns

    - @col2_content.each do |c|
      %div.panel
        %h3
          = c.title
          - if can? :edit, Content
            = link_to edit_admin_content_path(c), :class=>"tiny" do
              %i.fi-pencil
      %div.panel
        %div= c.text.html_safe


  .large-4.columns

    - @col3_content.each do |c|
      %div.panel
        %h3
          = c.title
          - if can? :edit, Content
            = link_to edit_admin_content_path(c), :class=>"tiny" do
              %i.fi-pencil
      %div.panel
        %div= c.text.html_safe

