- content_for :title, @page.title
= render partial: '/partials/custom_styles', locals: {program: current_program}
= render partial: "/partials/header"





.row
  .large-4.columns
    - if @col1_content
      - @col1_content.each do |c|
        %div.panel
          %h3
            = c.title
            - if can? :edit, Content
              = link_to edit_admin_content_path(c), :class=>"tiny" do
                %i.fi-pencil
        %div.panel
          %div.content
            = sanitize c.text.html_safe


  .large-4.columns
    - if @col2_content
      - @col2_content.each do |c|
        %div.panel
          %h3
            = c.title
            - if can? :edit, Content
              = link_to edit_admin_content_path(c), :class=>"tiny" do
                %i.fi-pencil
        %div.panel
          %div.content
          = sanitize c.text.html_safe


  .large-4.columns
    - if @col3_content
      - @col3_content.each do |c|
        %div.panel
          %h3
            = c.title
            - if can? :edit, Content
              = link_to edit_admin_content_path(c), :class=>"tiny" do
                %i.fi-pencil
        %div.panel
          %div.content
            = sanitize c.text.html_safe

