= simple_form_for([:admin,@post]) do |f|
  .row
    .large-12.columns
      = f.error_notification
  .row
    .large-6.columns

      .form-inputs
        .row
          .column.small-6
            = f.input :status, :collection => status_for_select, :label => "Status", :selected => @selected_status, :input_html => { :class => '' }
          .column.small-6
            &nbsp;
        = f.input :program_id, :collection => program_for_select, :label => "Program", :selected => @selected_program, :input_html => { :class => '' }
        %small
        = f.input :ptype, :collection => ptype_for_select, :label => "Type", :selected => @selected_ptype, :input_html => { :class => '' }
    .large-6.columns
      %p
        &nbsp;
        = f.input :image, as: :file
        - if @post.image.present?
          = image_tag @post.image.thumb.url
          %br
          = f.check_box :remove_image
          Bild löschen
  .row
    .large-6.columns
      = f.input :title, :input_html => { :class => 'input-large large'}
      .row
        .column.small-6
          = f.input :startdate, as: :fdatetimepicker
        .column.small-6
          = f.input :enddate, as: :fdatetimepicker
      = f.input :shortext, :input_html => { :class => '', :rows => 3}
      = f.input :longtext, :input_html => { :class => 'redactor' }


    .large-6.columns
      %hr
      = f.input :location_id, :collection => location_for_select, :label => "Location auswählen", :include_blank => "--", :selected => @selected_location, :input_html => { :class => '' }
      %p
        ODER
      = f.input :locationtext, :label => "Name der Location"
      = f.input :link, :placeholder => "http://", :label => "Website der Location"
      %hr
      = f.input :organizer, :label => "Organizer"
      = f.input :organizerlink, :placeholder => "http://", :label => "Website des/der Organizers"
      %hr
      = f.input :label
  .row
    .large-12.columns

      .form-actions
        = f.button :submit, :class=>"button large"
        - if current_page?(:action => 'new')
          = f.button :submit, :class=>"button large", :value=>"Post erstellen und nächsten eingeben"