- public = public || false

- klass = "panel post post_mini"
- if post.status == 'Published'
  - klass += " post_published"
- else
  - klass += " post_draft"



%div{:class=>"#{klass}"}
  - if ( can? :create, Post )
    .metas
      .metas_label
        - if post.status == 'Published'
          %span.label.label_status.label_status_published
            = post.status
        - else
          %span.label.label_status.label_status_draft
            = post.status
      .metas_label
        %span.label.label_ptype
          = ptypes[post.ptype.to_i]
  %p
    - if post.startdate
      = smart_date_display(post.startdate,post.enddate)
    - if post.location
      \|
      = post.location.title
  %p
    - if post.image.url
      %img{:src=>"#{post.image.small_thumb.url}"}
  %h4
    = link_to "#{post.title}", post
    - if (can? :edit, Post) && (public != true)
      = link_to edit_post_path(post), :class=>"tiny" do
        %i.fi-pencil
      - if post.status != 'published'
        = link_to edit_post_path(post), :class=>"tiny" do
          %i.fi-eye

  - if post.shortext.present?
    %div
      = post.shortext