- content_for :title, "Preferences"


.row
  .column.large-12.text-left
    %h2 Profil bearbeiten

    %p
      %strong Login:
      #{@user.login}
    %p
      %strong Letztes Login:
      =h fuzzy @user.last_sign_in_at


    = simple_form_for @user, :url => preferences_path do |f|

      = render 'layouts/error_messages', target: @user

      %p
        = f.input :login
      %p
        = f.input :password
      %p
        = f.input :password_confirmation

      = f.submit "Aktualisieren", :class => "button"



