- content_for :title, @post.title
= render partial: '/partials/custom_styles', locals: {program: @post.program}

- if ( can? :create, Post )
  .row
    .large-9.columns{:role => "content"}
      &nbsp;
    .large-3.columns.right
      = link_to admin_posts_path, :class => 'button tiny' do
        %i.fi-list-thumbnails
        Index
      = link_to new_admin_post_path, :class => 'button tiny' do
        %i.fi-plus
        Post anlegen
      = link_to edit_admin_post_path(@post), :class => 'button tiny' do
        %i.fi-pencil
        Bearbeiten

= render partial: "/partials/header"

- if @post.status == 'Published'
  - klass = "post post_published"
- else
  - klass = "post post_draft"


.row.panel#post{:class=>"#{klass}"}
  .large-12.text-left.columns{:role => "content"}
    %p


    - if @post.image.url
      %p
        %img{:src=>"#{@post.image.url}"}
    %p
      - if @post.startdate
        %i.fi-calendar
        = smart_date_display(@post.startdate,@post.enddate)
        - if @post.location
          &nbsp;|&nbsp;
          %i.fi-home
          - if @post.location.web.present?
            = link_to @post.location.web do
              = @post.location.title
          - else
            = @post.location.title
    %h2
      %strong
        = @post.title
      - if @post.shortext.present?
        \|
        = @post.shortext
    %p= @post.longtext.html_safe

    %p
      - if !@post.link.blank?
        - if @post.link =~ /http[s]?:\/\//
          - linktext = @post.link.gsub(/https?:\/\//,"")
          = link_to "#{linktext}",@post.link
        - else
          = link_to "http://"+@post.link, "#{@post.link}"
    %hr
    %p
      - if !@post.label.blank?
        %dt Label:
        %dd= @post.label
      - if !@post.organizer.blank?
        - if @post.organizerlink.present?
          = link_to @post.organizerlink do
            = @post.organizer
        - else
          = @post.organizer

    .row
      .large-12.columns
        - if ( can? :create, Post )
          %span.label
            = @post.status
          \/
        %span.label
          = ptypes[@post.ptype.to_i]
        \:
        %small
          - if @post.program
            - if ( can? :create, Post )
              = link_to "#{@post.program.title}", admin_program_url(@post.program)
            - else
              = link_to "#{@post.program.title}", program_url(@post.program)
    - if @post.location.present?
      %hr
      %p.location
        %h4=@post.location.title
        %p
          #{@post.location.address}, #{@post.location.zipcode}, #{@post.location.city}
          %br
          - if @post.location.web
            %i.fi-web.fi-21
            = link_to @post.location.web do
              = @post.location.web

          - if @post.location.email
            &nbsp;&nbsp;|&nbsp;
            %i.fi-mail.fi-21
            = link_to @post.location.email do
              = @post.location.email
          - if @post.location.twitter.present?
            &nbsp;&nbsp;|&nbsp;
            %i.fi-social-twitter.fi-21
            = link_to @post.location.twitter_link do
              = @post.location.twitter
          %br
          %i.fi-info.fi-21
          = @post.location.shortext
    - elsif @post.locationtext.present?
      %hr
      %p.location
        - if @post.link.present?
          = link_to @post.link do
            %h4=@post.locationtext

        - else
          %h4=@post.locationtext
}

