- @page_title = "Benutzerverwaltung"

%h2 Benutzerverwaltung
= will_paginate @users, renderer: BootstrapPagination::Rails
%table.table.table-hover
  %tr
    %th Benutzername
    %th Name
    %th E-Mail
    %th Rolle
    %th
    %th

  - @users.each do |u|
    %tr{:class => cycle("row1", "row0")}
      %td
        %h4= u.login
      %td
        = u.firstname
        = u.lastname
      %td
        = u.email
      %td
        - u.roles.each do |r|
          = r.name
      %td
        =link_to 'Bearbeiten', edit_admin_user_path(:id => u.id), {:class => "button"}
      %td
        =link_to 'Löschen', { :action => 'destroy', :id => u.id }, :class => "button alert", :method=>:delete, :confirm => "Benutzer #{u.login} wirklich löschen?" if u.deleted_at.nil?
        =link_to 'Wiederherstellen', { :action => 'undelete', :id => u.id },{:class => "button alert"} unless u.deleted_at.nil?
= link_to "Neues Profil", new_admin_user_path, {:class => "button"}
