

.row#footer
  .large-6.columns
    %ul.menu{:role => 'navigation'}
      %li
        = link_to "/" do
          = Rails.application.config_for(:settings).app_name
        - if current_user
          = Rails.application.config_for(:settings).app_version
          (#{Rails.env})
      - if @footer_pages && @footer_pages.count > 0
        - @footer_pages.each do |p|
          %li
            = link_to page_path(p) do
              #{p.title}
  .large-6.columns.text-right
    %p
      - if current_user
        Commit
        = raw git_version
        (#{link_to "Github","https://github.com/ut/zakk-admin"})
      - else
        = link_to "Login",user_session_path
