
.row#sub-footer
  .large-12.columns
    = render partial: '/partials/flyer_wall', locals: {flyers: @flyers}
.row#footer
  .large-6.columns
    %p
      = link_to "/" do
        = Settings.app_name
      - if current_user
        = Settings.app_version
        (#{Rails.env})
  .large-6.columns.text-right
    %p
      - if current_user
        Commit
        = raw git_version
        (#{link_to "Github","https://github.com/ut/zakk-admin"})
      - else
        = link_to "Login",user_session_path
