%li
%li.has-dropdown
  = link_to admin_programs_path do
    Programs
  %ul.dropdown
    %li
      = link_to admin_posts_path do
        Posts
%li
  = link_to admin_locations_path do
    Locations
%li.has-dropdown
  = link_to admin_pages_path do
    Pages
  %ul.dropdown
    %li
      = link_to admin_contents_path do
        Contents
%li
  = link_to admin_flyers_path do
    Flyers