%li
  = link_to admin_programs_path do
    Programs
%li
  = link_to posts_path do
    Posts
%li
  = link_to locations_path do
    Locations
%li
  = link_to admin_pages_path do
    Pages
%li
  = link_to admin_contents_path do
    Contents