!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? "#{yield(:title)} // #{Settings.app_name}" : "#{Settings.app_name}"
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : ''}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    - if File.exists?('vendor/assets/stylesheets/zakk-admin-assets')
      = stylesheet_link_tag 'zakk-admin-assets/stylesheets/application', media: 'all', 'data-turbolinks-track' => true

    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'

    = csrf_meta_tags
    = favicon_link_tag "#{current_program.backgroundimage.medium_thumb.url}"
    = yield :head


  - klass = ""
  - if current_user
    - klass = "logged_in "
  - if Rails.env == 'staging' || Rails.env == 'developement'
    - klass = klass + "#{Rails.env.parameterize}"
  - id = ''
  - if controller_name
    - id = "#{controller_name.parameterize}"

    = javascript_include_tag 'application', 'data-turbolinks-track' => true


  %body{:id=>"#{id}", :class=>"#{klass}"}

    - if current_user
      %header
        = render 'layouts/navigation'

    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
      .row#sub-footer
        .large-12.columns
          = render partial: '/partials/flyer_wall', locals: {flyers: @flyers}
    #print
      = image_tag('popular-culture.gif')
      %p why do you want to PRINT a WEBSITE?
    %footer{:role => 'footer'}
      = render 'layouts/footer'