!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'ZakkAdmin'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Empty App4'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'

    = csrf_meta_tags
    = favicon_link_tag
    = yield :head

    = render partial: '/partials/custom_styles', locals: {program: current_program}

  - klass = ""
  - if current_user
    - klass = "logged_in "
  - if Rails.env == 'staging' || Rails.env == 'developement'
    - klass = klass + "#{Rails.env.parameterize}"
  - id = ''
  - if controller_name
    - id = "#{controller_name.parameterize}"


  %body{:id=>"#{id}", :class=>"#{klass}"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if current_user
      %header
        = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer
      = render 'layouts/footer'